$dark-main-color: rgb(0,0,8);
$medium-main-color: rgb(1,43,67);
$light-main-color: rgb(49, 109, 144);
$almost-white-color: rgb(201, 214, 222);
$contrast-color: rgb(1,146,118);
$contrast-transperant: rgba(21, 172, 142, 0.8);
$purple-color:rgb(112, 102, 224);
$box-shadow: 0 8px 6px -6px black;
$strong-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.5);
$super-contrast: rgb(180, 213, 14);
$font-size: 16px;
$text-shadow: 1px 1px 1px black;
$strong-text-shadow: 3px 3px 2px black;



