@import "../../variables";
@import "../../mixins";

.buddyPage {
    margin: auto;
    flex-direction: row;

    .buddiesHolder {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    .siteSloganTitle {
        text-align: center;
        font-size: 30px;
        text-shadow: $text-shadow;
        color: white;
    }

    .buddySearchWrapper {
        display: flex;
        justify-content: center;

        .buddySearchSelect {
            @include select();
        }
    }
}