@import "../../variables";
@import "../../mixins";

.profilePageContainer {
    margin-top: 30px;
    text-align: center;

    .profileInfo {
        width: 700px;
        margin: auto;
        display: flex;
        color: $almost-white-color;
        background-color: rgba(255, 255, 255, 0.2);

        box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.5);
        @include profileBorder();


        .userInfo {
            width: 500px;
            margin-top: 1rem;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 3rem;
            }

            button {
                @include button();
                background-color: $contrast-transperant;
            }
        }
    }

    .profileImage img {
        box-sizing: border-box;
        width: 250px;
        height: 270px;
        object-fit: cover;
    }

    input[type=file] {
        border: none;
    }

    button {
        @include button();
        width: 97px;
        color: $almost-white-color;
        background-color: $contrast-transperant !important;
        margin-right: 1rem;
        margin-top: 1rem;
        font-size: 17px;

        &:hover {
            background-color: $purple-color !important;
        }
    }

    p {
        font-size: 18px;
        color: $almost-white-color;
    }

    .activitiesList {
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }

    h3 {
        margin: 40px 0 0 0;
        font-size: 32px;
        color: white;
    }

    input,
    select {
        background-color: $contrast-transperant;
        color: $almost-white-color;
        box-sizing: border-box;
        border-radius: 40px;
        width: 200px;
        height: 30px;
        border: none;
        align-items: center;
        text-align: center;
        margin: 0 10px;
        font-size: 16px;
        font-family: inherit;

        &::placeholder {
            color: $almost-white-color;
        }
    }

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .file-input {
        display: none;
    }

    .file-input-label {
        @include button();
        padding: 10px;
        background-color: $contrast-transperant;
        color: $almost-white-color;
        font-weight: bold;
        cursor: pointer;
        font-size: 15px;
        height: 43px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .file-input-label:hover {
        background-color: $purple-color;
    }
}