@import "../../variables";
@import "../../mixins";


.homeContainer {
    height: 100vh;

    .logoutContainer {
        display: none;
    }

    .siteNameTitle {
        display: flex;
        justify-content: center;
        font-size: 6em;
        font-style: italic;
        color: $almost-white-color;
        width: 15%;
        margin-left: 20%;
        text-shadow: $strong-text-shadow;

        @media screen and (max-width: 1366px) {
            font-size: 4.5em;
            width: 12%;
        }
    }

    .siteSloganTitle {
        display: flex;
        color: $almost-white-color;
        font-size: 2em;
        width: 20%;
        margin-left: 20%;
        margin-top: -2%;
        font-style: italic;
        letter-spacing: 0.05em;
        text-shadow: $strong-text-shadow;

        @media screen and (max-width: 1366px) {
            font-size: 1.1em;
            width: 24%;
            margin-left: 220px;
        }
    }

    .homeCardContainerWrapper {
        display: flex;
        margin-top: 2%;
        gap: 50px;

        @media screen and (max-width: 1366px) {
            gap: 0;
        }

        h2 {
            font-size: 24px;

            @media screen and (max-width: 1366px) {
                font-size: 18px;
            }
        }

        img {
            height: 120px;
            width: auto;
            margin: 150px 0 0 0;

            @media screen and (max-width: 1366px) {
                height: 80px;
                width: auto;
                margin: 60px 0 0 0;
            }
        }

        h2 {
            color: $almost-white-color;
            text-shadow: 2px 2px 2px black;

            @media screen and (max-width: 1366px) {
                height: 20px;
                width: auto;
                gap: 50px;
            }
        }

    }

    .logoutBtn {
        display: none;
    }
    .homeLineCont {
        display: flex;
        justify-content: center;

        .homeLine {
            border-radius: 150px;
            position: absolute;
            height: 200px;
            width: 70%;
            object-fit: fit;
            bottom: 1%;
            left: 15%;
            z-index: -10;
            rotate: 180deg;
        }
    }
}