@import "../../variables";
@import "../../mixins";

.activitiesPageContainer {
    display: flex;
    flex-direction: column;

    .activitiesContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: auto;
        gap: 40px;
        margin-top: 70px;
    }

    .siteNameTitle {
        color: $almost-white-color;
        margin-top: 1rem;
        text-align: center;
    }

    .searchContainer {
        height: 30px;
        margin: auto;
        margin-top: 50px;
    }

    #activitySearch {
        @include search();
        height: 40px;
        color: $almost-white-color;

        &::placeholder,
        &:focus {
            color: $almost-white-color;
        }
    }
}

.swal2-title {
    font-size: 24px;
    color: #333;
}

.swal2-popup {
    background-color: $dark-main-color;
    border-radius: 10px;
}

.swal2-confirm {
    background-color: #4caf50;
    color: #fff;
    border: none;

    &:hover {
        background-color: #66bb6a;
    }
}